/plugins/custom-post-type-ui/
/plugins/sitepress-multilingual-cms/
/plugins/advanced-custom-fields/
/plugins/threewp-broadcast/
/plugins/threewp-broadcast-control-pack/
/plugins/wpml-media-translation/
/plugins/wpml-string-translation/
/plugins/wpml-translation-management/
/uploads/
/languages/
